footer 
{
	left: 0;
	bottom: 0;
	height:100%;
	width: 100%;
	padding-bottom: 70px;
	background-color: black;
	color: white;
}

footer ul li
{
	float: left;
	width:33%;
	list-style-type: none;
}

footer ul li:first-child
{
	text-align: left;
}

footer ul li:last-child
{
	float:right;
	text-align: right;
}
