body 
{
	font-family: math;
	font-size: 130%;
	background: linear-gradient(180deg, rgba(100,170,111,1) 0%, rgba(136,203,125,1) 50%, rgba(153,219,136,1) 100%);
	color: black;
	height: 100%;
	width: 100%;
 }

img
{
	max-width: 500px; 
	height:auto; 
	border-radius: 25% 10%;
clear: both; 
}
	
.section-suivante {
      clear: both;
}