/* Styles globaux */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #C9EBFF;
    color: #333;
}


section{
	margin-bottom: 5%;
	margin-left: 2%;
}

img
{
	max-width: 500px; 
	height:auto; 
	border-radius: 25% 10%;
	clear: both; 
}
	
form{
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 20px;
  background-color: #b3c7e6; 
  border-radius: 5px;
  margin-right: auto; 
  font-family: "Helvetica Neue", Arial, sans-serif; 
}

form input[type="submit"] {
  margin-top: 20px;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #45a049;
}

form input[type="text"], form input[type="number"], form input[type="password"], 
form input[type="time"], form input[type="date"]{
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-bottom: 2px solid #4caf50;
  border-radius: 10px; 
  
