/* Styles globaux */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #C9EBFF;
    color: #333;

}

section{
	margin-left: 2%;
}

img
{
	max-width: 500px; 
	height:auto; 
	border-radius: 25% 10%;
	clear: both; 
}
	
.section-suivante {
      clear: both;
}