/* Header */
header {
    background-color: #0a84ff;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
	margin-top: 10px;
}

/* Barre de navigation */
nav {
    background-color: #fff;
    padding: 5px 0; /* Rendre la barre de navigation plus petite */
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    border-radius: 15px; /* Ajout d'arrondis à la barre de navigation */
    margin: 10px 20px; /* Ajout de marges pour laisser de l'espace autour de la barre de navigation */
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
	font-size:120%;
}

nav ul li a {
    text-decoration: none;
    color: #0a84ff;
}

nav ul li a:hover {
	font-size : 140%;
	border-radius: 10px;
}

